<div class="row home-menu-container-teacher">
  <div class="col-4">
    <a class="home-menu-card-teacher" (click)="openForm(TITLEPAGE)">
      <img src="/assets/images/videos.svg" alt="videos-icon"/>
      Titelblad
    </a>
  </div>

  <div class="col-4">
    <a class="home-menu-card-teacher" (click)="openForm(MULTI_VIDEO)">
      <img src="assets/images/audio.svg" alt="audio-icon"/>
      Meerkeuze met videofragment
    </a>
  </div>

  <div class="col-4">
    <a class="home-menu-card-teacher" (click)="openForm(MULTI_AUDIO)">
      <img src="assets/images/dialogue.svg" alt="dialogue-icon"/>
      Meerkeuze met geluidsfragment
    </a>
  </div>
</div>

<div class="row home-menu-container-teacher">
  <div class="col-4">
    <a class="home-menu-card-teacher" (click)="openForm(TRUE_OR_FALSE_VIDEO)">
      <img src="assets/images/videos.svg" alt="videos-icon"/>
      Juist of fout met videofragment
    </a>
  </div>

  <div class="col-4">
    <a class="home-menu-card-teacher" (click)="openForm(TRUE_OR_FALSE_AUDIO)">
      <img src="assets/images/audio.svg" alt="audio-icon"/>
      Juist of fout met geluidsfragment
    </a>
  </div>
  <div class="col-4">
    <a class="home-menu-card-teacher" (click)="openForm(COLLAGE)">
      <img src="/assets/images/code.svg" alt="code-icon"/>
      Collage
    </a>
  </div>
</div>


