// ----------------------------------------------------------------------
// Logo
// ----------------------------------------------------------------------

.logo-container {
  width: $logo-width;

  img {
    max-width: 100%;
  }

  @include mobile {
    width: $logo-width-desktop;
  }
}
