.functional-header {
  display: grid;
  grid-template-columns: 75% 20%;
  grid-column-gap: 5%;
}

.filter-sub-header {
  display: flex;
  justify-content: space-between;

  & > * {
    margin-right: 1%;

    &:last-child {
      margin: 0;
    }
  }
}

.new-button {
  margin: 1em 0 !important ;
  background-color: #e3b150;

  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;

  &:hover {
    background-color: #e3b150aa;
  }
}

.table {
  &-element {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    &:hover {
      background-color: #e3b15088;
      cursor: pointer;
    }
  }
}
